<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ section.title }}</title>

    <link rel="stylesheet" href="/fonts/inter.css">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <main>
      <h1>{{ section.title }}</h1>

      {{ section.content | safe }} {% for subsection_path in
      section.subsections%} {% set subsection =
      get_section(path=subsection_path) %} {% if subsection.pages %}
      <h3>{{ subsection.title }}</h3>

      <ul>
        {% for page in subsection.pages %}
        <li>
          <em>{{ page.date }}</em> &mdash; <a href="{{ page.permalink }}"
          >{{ page.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %} {% endfor %}
    </main>
  </body>
</html>
